body {
    background-image: url("food.jpg");
/*     background-repeat: no-repeat;
    background-size: 100%; */
}

div.transbox {
  margin: 25px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
.fit {
  max-width: 99%;
  max-height: 99%;
}
<img class="fit" src="food.png">
