body {
    background-image: url("food.jpg");
/*     background-repeat: no-repeat;
    background-size: 100%; */
}

div.transbox {
  margin-left: 100px;
  margin-right:50px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 40%;
  font-weight: bold;
  color: #000000;
}
