body {
    background-image: url("food.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.fridge {
  background-color: #6FCF4C;
  color: black;
  float:left;
  margin-left: 10px;
  margin-top: -50px;
  margin-right: 2000px;
  margin-bottom: 40px;
  width: 300px;
  height: 120px;
  padding: 10px;
  overflow: auto;
}

.calendar {
  background-color: #6FCF4C;
  color: black;
  float:left;
  margin-left: -10px;
  margin-top: -50px;
  margin-right: 2000px;
  margin-bottom: 40px;
  width: 340px;
  height: 120px;
  padding: 10px;
  overflow: auto;
}

/* div.transbox {
  margin: 25px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

/*div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
} */
.fit {
  max-width: 99%;
  max-height: 99%;
}
<img class="fit" src="food.png">
