#center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  opacity: 1;

}

#center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  opacity: 1;

}
