#center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

#center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

#right {
  float: right;
    width: 200px;
    padding: 10px;
}
