#center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

#center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

#move1 {
text-align: center;
}

#move2 {
text-align: center;
}
